
#
sysname center
#
undo info-center enable
#
vlan batch 10 20 30 40 50 60
#
cluster enable
ntdp enable
ndp enable
#
drop illegal-mac alarm
#
dhcp enable
#
diffserv domain default
#
drop-profile default
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password simple admin
 local-user admin service-type http
#
interface Vlanif1
#
interface Vlanif10
 ip address 192.168.10.254 255.255.255.0 
 dhcp select relay
 dhcp relay server-ip 192.168.10.1
#
interface Vlanif20
 ip address 192.168.20.254 255.255.255.0 
 dhcp select relay
 dhcp relay server-ip 192.168.20.1
#
interface Vlanif30
 ip address 192.168.30.254 255.255.255.0 
 dhcp select relay
 dhcp relay server-ip 192.168.30.1
#
interface Vlanif40
 ip address 192.168.40.254 255.255.255.0 
 dhcp select relay
 dhcp relay server-ip 192.168.40.1
#
interface Vlanif50
 ip address 192.168.50.254 255.255.255.0 
 dhcp select relay
 dhcp relay server-ip 192.168.50.1
#
interface Vlanif60
 ip address 192.168.60.254 255.255.255.0 
 dhcp select relay
 dhcp relay server-ip 192.168.60.1
#
interface MEth0/0/1
#
interface GigabitEthernet0/0/1
 port link-type trunk
 port trunk allow-pass vlan 20
#
interface GigabitEthernet0/0/2
 port link-type trunk
 port trunk allow-pass vlan 30
#
interface GigabitEthernet0/0/3
 port link-type trunk
 port trunk allow-pass vlan 40
#
interface GigabitEthernet0/0/4
 port link-type trunk
 port trunk allow-pass vlan 50
#
interface GigabitEthernet0/0/5
 port link-type trunk
 port trunk allow-pass vlan 60
#
interface GigabitEthernet0/0/6
 port link-type trunk
 port trunk allow-pass vlan 10 20 30 40 50 60
#
interface GigabitEthernet0/0/7
 port link-type trunk
 port trunk allow-pass vlan 10 20 30 40 50 60
#
interface GigabitEthernet0/0/8
#
interface GigabitEthernet0/0/9
#
interface GigabitEthernet0/0/10
#
interface GigabitEthernet0/0/11
#
interface GigabitEthernet0/0/12
#
interface GigabitEthernet0/0/13
#
interface GigabitEthernet0/0/14
#
interface GigabitEthernet0/0/15
#
interface GigabitEthernet0/0/16
#
interface GigabitEthernet0/0/17
#
interface GigabitEthernet0/0/18
#
interface GigabitEthernet0/0/19
#
interface GigabitEthernet0/0/20
#
interface GigabitEthernet0/0/21
#
interface GigabitEthernet0/0/22
#
interface GigabitEthernet0/0/23
#
interface GigabitEthernet0/0/24
#
interface NULL0
#
user-interface con 0
user-interface vty 0 4
#
return 